<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {% csrf_token %}
    <div class="topnav">
        <a href="/pair">pair</a>
        <a href="/contacts">contacts</a>
    </div>
    {% block content %}{% endblock %}
</body>
</html>